.image-slider {
  position: relative;
}

.image-slider img {
  width: 100%;
  height: auto;
}

.image-slider .prev, .image-slider .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.image-slider .prev {
  left: 10px;
}

.image-slider .next {
  right: 10px;
}
