.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;    /* 상단 여백 */
    margin-bottom: 20px; /* 하단 여백 */
    margin-left: 300px;   /* 좌측 여백 */
    margin-right: 300px;  /* 우측 여백 */
  }
  
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 20px); /* 한 줄에 5개를 표시하기 위해 20% 너비로 설정하고 간격 조정 */
    text-align: center;
  }
  
  .category-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .category p {
    margin: 0;
    font-size: 14px;
  }
  